
  <div id="resources-<%= @room.id %>">
    <div class="resources-section">
      <%= render "shared/resources_list", user: @participant_type, room: @room %>
    </div>
    <%= render "shared/resources_submit_form", user: @participant_type, room: @room %>
  </div>
