.image-container img {
  display: block;
  width: 200px; /* Adjust as needed */
}

.image-container img:hover {
  content: url("hex room B alpha.gif");
}

.room-index-card {
  padding-left: 20px;
  padding-top: 25px;
  margin-right: 80px;
  .card-title {
    font-family: "Permanent Marker", cursive;
    font-size: 25px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .card-username {
    font-family: "Caveat", cursive;
    font-size: 20px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: $color-fifth;
  }
  .card-tasks {
    font-family: "Caveat", cursive;
    font-size: 20px;
    padding-top: 0px;
    margin-top: 0px;
    color: $color-fifth;
  }

  &:hover {
    cursor: pointer;
    // transform: translateY(-15px);
    // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
}

.room-card-body {
  overflow-wrap: break-word;
  width: 50%;
}

.room-search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  // align-items: center;
  // margin-bottom: 20px;
  width: 800px;
}

.room-search-input {
  border: none;
  background-color: lightyellow;
  height: 40px;
  width: 300px;
  font-size: 16px;
  color: lightgray;
  outline: none !important;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  &:focus {
    border: 2px solid #f7c948;
    box-shadow: 0px 0px 8px rgba(247, 201, 72, 0.6);
    background-color: #fff;
  }
}

.resources-form {
  height: 40px;
}
.resources-button {
  background-color: #FFC800;
  border-color: #FFC800;
}
