.nav-tabs {
  background-color: #f7f2e2;
  width: 100%;
  // height: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-tabs .nav-link {
  color: $color-first;
}

.nav-tabs .nav-link.active {
  background-color: #f3b700; /* 變更背景顏色 */
  font-weight: bold; /* 變更文字粗細 */
  color: black; /* 變更文字顏色 */
  border-radius: 8px; /* 加點圓角讓 UI 更好看 */
}
.tabs-div {
  width: 100%;
}
.tabs {
  width: 100%;
}
