.new-poll {
  width: 100%;
}
.poll-btn {
  background-color: #f3b700;
  border: none;
  padding: 6px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s;
  height: 40px;
  border-radius: 12px;
  font-weight: bold;
}
