// Define variables for your color scheme
$color-first: #e76f51;
$color-second: #f4a261;
$color-third: #e9c46a;
$color-fourth: #2a9d8f;
$color-fifth: #264653;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
