// Specific CSS for your home-page

.home-background{
  background-image: image-url("homepage.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100vw;
  z-index: -2;
  position: relative;

}
.home-words {
  color: $color-first;
  position: absolute;
  background-attachment: fixed;
  right: 20px;
  top: 40%;
  width: 13em;
    font-family: "Lobster", cursive;
    font-size: 2.2em;
}


.home-background2{
  position: relative;
  z-index: 1;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    $color-third 0%,
    transparent 20%,
    transparent 80%,
    $color-third 100%
  );


  .logo-wrap{
    // background-color: $color-third;
    z-index: 1000;
    .logo {
      width: 100%;
      height: auto;
      z-index: 1000;
    }
  }
  .comb-wrap {
    // background-color: aquamarine;
    padding: 0;
    .honeycomb {
      max-width: 90%;
      height: 90%;
      .hive-1, .hive-2, .hive-3 {
        position: relative;
        .hive-text {
          position: absolute;
          top: 0;
          font-family: "Lobster", cursive;
        }
      }

    }
  }
}
