.create-hive-btn {
  font-size: 1.3em;
  border-radius: 10px;
}
.line-button {
  background-color: #06C755 !important;
  color: white !important;
}
.sign-up-button {
  background-color: $color-fifth !important;
  color: white !important;
}

.log-in-button {
  background-color: $color-fourth !important;
  color: white !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
