<div class="index-card col-md-3" data-controller="message" style="background-image: url('<%= asset_path("desk2.png")%>');">
  <div><%= link_to desk.title, desk_path(desk) %> | <%=desk.points%> points</div>
</div>
