<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">desk.name</h5>
    <p class="card-text">desk.points</p>
    <a href="#" class="btn btn-primary">Check Out More</a>
  </div>
</div>
