<div class="index-card col-md-3" data-controller="message" style="background-image: url('<%= asset_path("desk2.png")%>');">
  <div><%= desk.title %> | <%=desk.points%> points</div>
  <div><%= link_to "@#{desk.user.username}", desk_path(desk) %></div>
</div>
