<h1>Resourses</h1>
<ol>
  <li>
    <a href="http://www.railstutorial.org/book" target="_blank">Ruby on Rails Tutorial</a>
  </li>
  <li>
    <a href="http://guides.rubyonrails.org/" target="_blank">Rails Guides</a>
  </li>
  <li>
    <a href="http://api.rubyonrails.org/" target="_blank">Rails API</a>
  </li>
  <li>
    <a href="http://rubygems.org/" target="_blank">Ruby Gems</a>
  </li>
  <li>
    <a href="http://stackoverflow.com/" target="_blank">Stack Overflow</a>
  </li>
  <li>
    <a href="http://www.ruby-lang.org/en/" target="_blank">Ruby Language</a>
  </li>
</ol>
