<h1>Resourses</h1>
<ol>
  <li>
    <a href="http://www.railstutorial.org/book">Ruby on Rails Tutorial</a>
  </li>
  <li>
    <a href="http://guides.rubyonrails.org/">Rails Guides</a>
  </li>
  <li>
    <a href="http://api.rubyonrails.org/">Rails API</a>
  </li>
  <li>
    <a href="http://rubygems.org/">Ruby Gems</a>
  </li>
  <li>
    <a href="http://stackoverflow.com/">Stack Overflow</a>
  </li>
  <li>
    <a href="http://www.ruby-lang.org/en/">Ruby Language</a>
  </li>
</ol>
