
<%= turbo_frame_tag "resources-submit-form" do %>
  <% if user == "owner" %>
    <%= form_with url: room_path(room), method: :patch do |f| %>
      <div class="resources-form">
        <%= f.text_field :input_field, class: "resources-input", placeholder: "Add a new resource link" %>
        <%= f.submit "+", class: "resources-button" %>
      </div>
    <% end %>
  <% end %>
<% end %>
