<h1>Resourses</h1>

<%=
  text_area(:room, :resources_content, size: "50x10",
  data: {
    controller: "text-area",
    action: "focusout->text-area#deselect",
    text_area_url_value: room_path(@room)
  },
  disabled: ('disabled' if @room.user != current_user))
%>
