<div class="card col-sm-6 col-md-4 room-index-card room-animation-card hex-card">
  <div class="card-body text-center room-card-body">
    <h5 class="card-title"><%=room.title%></h5>
    <p class="card-text"><strong><%=room.user.username%></strong></p>
    <p class="card-text"><strong><%=room.spots.length%></strong></p>
  </div>
</div>
