<h1>Settings</h1>
<ul>
  <li>
    <p>Change your profile picture</p>
  </li>
  <li>
    <p>Change your theme</p>
  </li>
  <li>
    <p>Change your language</p>
  </li>
  <li>
    <p>Change your notification settings</p>
  </li>
  <li>
    <p>Change your privacy settings</p>
  </li>
  <li>
    <p>Change your account settings</p>
  </li>
  <li>
    <p>Change your preferences
    </p>
  </li>
</ul>
