<div id="desk_list" class="row d-flex flex-wrap justify-content-center">
  <% if desks.empty? %>
    <div class="desk-index-no-results-text mb-4">No desks found</div>
  <% else %>
    <% desks.each do |desk| %>
      <%= render "shared/card", desk: desk, status: online_status %>
    <% end %>
  <% end %>
</div>
<turbo-frame id="load_more_frame" target="_top">
  <% if all_desks.count > desks.count %>
    <%= link_to "Load More ðŸ", load_more_desks_path(page: 2), data: { turbo_stream: true }, class: "btn btn-primary mt-3" %>
  <% end %>
</turbo-frame>
