<div class="desk-show-intro">
  <div class="desk-show-about-me">
    <div style="font-weight: bold;"><i class="fa-solid fa-bookmark"></i>&nbsp;About Me</div>
    <%= @desk.intro%>
  </div>
  <div class="desk-show-current-interest">
    <div style="font-weight: bold;"><i class="fa-solid fa-book-open"></i>&nbsp;I'm currently interested in...</div>
    <%= @desk.interest%>
  </div>
  <div class="desk-show-question">
    <div style="font-weight: bold;"><i class="fa-solid fa-question"></i>&nbsp;I want to ask...</div>
    <%= @desk.question %>
  </div>
</div>
