<div data-controller="toggle-messages">
  <button data-action="click->toggle-messages#showHideMessages"><i class="fa-regular fa-message"></i>&nbsp;Message</button>
  <div class="messages-main" data-toggle-messages-target="messages">
    <div id="messages-div" >
      <!-- Messages -->
      <div >
        <% @desk.messages.each do |message| %>
          <%= render("desk_message",{ message: message}) %>
        <% end %>
      </div>
    </div>
    <div class="clickable-div mt-2">
      <!-- Hidden Form -->
      <div class="form-container" data-toggle-messages-target="form">
        <%= simple_form_for [@desk, @message],
        method: :post,
        html: {class: "d-flex",
        data: { controller: "reset-form",
        action: "turbo:submit-end->reset-form#reset" }},
        data: {
        turbo_frame: "messages"
        } do |f| %>
          <div class="d-flex">
            <%= f.input :text,
                label: false,
                wrapper: false,
                placeholder: "Message from #{current_user.username}",
                input_html: { id: "msg_content", class: "chat-input" } %>
            <button type="submit" class="chat-send-btn">
              <i class="fas fa-paper-plane"></i>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
