<div class="index-desk-bg d-flex flex-column align-items-center">
  <div class="d-flex justify-content-center align-items-center">
    <div class="blackboard-container">
      <img src="<%= asset_path('blackboard1.png') %>" class="blackboard-img" alt="Blackboard">
      <div class="blackboard-text-container" data-controller="blackboard"></div>
    </div>
  </div>
  <%= render "shared/searchbar"%>
  <div class="d-flex flex-column align-items-center">
      <%= render "search_results", all_desks: @all_desks, desks: @desks, online_status: @online_status %>
  </div>
  <%# if @all_desks.count > @desks.count %>
    <%#= link_to "Load More ðŸ", load_more_desks_path(page: 2, query: params[:query], search_type: params[:search_type]), data: { turbo_stream: true }, class: "btn btn-primary mt-3", id: "load_more_button" %>
  <%# end %>
</div>
