body {
  background-color: #f9eed3;
}

a {
  text-decoration: none;
}

#index-container {
  padding: 0 80px;
}

.index-card {
  padding-left: 20px;
  padding-top: 15px;
  .card-title {
    font-family: "Permanent Marker", cursive;
    font-size: 25px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .card-username {
    font-family: "Caveat", cursive;
    font-size: 20px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: $color-fifth;
  }
  .card-tasks {
    font-family: "Caveat", cursive;
    font-size: 20px;
    padding-top: 0px;
    margin-top: 0px;
    color: $color-fifth;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-15px);
    transition: transform 0.2s ease-in-out;
    // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
}

#load-more {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, $color-third, $color-second);
  border: 3px solid white;
  border-radius: 25px; /* 讓按鈕有圓潤感 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  .index-load {
    height: 25%;
    width: 25%;
  }
}
.message-form {
  position: absolute;
  background: white;
  z-index: 10;
  width: 300px; /* 設定固定寬度 */
  padding: 15px;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.blackboard-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 3rem;
  font-family: "Fredericka the Great", cursive;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  // align-items: center;
  margin-bottom: 20px;
  width: 800px;
}

.search-form {
  margin-bottom: 20px;
}


.search-select {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  outline: none;
}
.search-input {
  border: none;
  background-color: lightyellow;
  height: 40px;
  width: 700px;
  font-size: 16px;
  color: lightgray;
  outline: none !important;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  &:focus {
    border: 2px solid #f7c948;
    box-shadow: 0px 0px 8px rgba(247, 201, 72, 0.6);
    background-color: #fff;
  }

}
