// search bar

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.search-form {
  position: relative;
  margin-bottom: 40px;
}

.search-select {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  outline: none;
}
.search-input {
  width: 300px;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 8px;
  &:focus {
    border-color: $color-fifth;
  }
}

.search-button {
  position:absolute;
  right: 0;
  margin: 10px 5px 0;
  display: inline-block;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 25px;
  border-radius: 50%;
    &:hover {
      background-color: lightgray;
  }
}
