body {
  background-color: #f0c539;
}

.desk-img {
  background-image: image-url("desk2.png");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 900px;
  height: 800px;
  margin: 0 auto;
}

.calendar {
  position: absolute;
  top: 120px;
  right: 180px;
  margin-top: 20px;
  margin-left: 20px;
  width: 180px;
  height: 180px;
  border: 4px solid black;
  background-color: white;
  display: inline-block;
}
