.show-desk-bg {
  background-image: url("stationery-bg alpha.png");
  background-repeat: repeat;
  // mix-blend-mode: multiply;
  // opacity: 0.4;
  // margin-top: 100px;
  // width: 800px;
  // height: 770px;
  // background-color: #9d7100;

  // position: relative;
}

.desk-show-info-wrap {
  margin-top: 100px;
  .desk-show-shot-and-name {
    margin-bottom: 20px;
  }
}
.desk-img {
  background-image: url("desk2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 700px;
  height: 700px;
}

.desk-show-title {
  max-width: 400px;
  word-wrap: break-word;
}
.desk-show-status {
  max-width: 400px;
  word-wrap: break-word;
  color: grey;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .desk-show-status-username {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
  }
}

.desk-show-headshot {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 5px solid $color-fifth;
  margin-left: 70px;
  margin-right: 50px;
}

.desk-show-name-and-status {
  flex-grow: 1;
  p {
    margin-bottom: 0;
  }
}

.desk-show-intro {
  margin-left: 20px;
  flex-grow: 1;
}

.desk-show-shot-and-name {
  width: 700px;
}

.desk-show-about-me,
.desk-show-current-interest,
.desk-show-question {
  background-color: #f7c948;
  color: black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  min-width: 400px;
  max-width: 450px;
  max-height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  word-wrap: break-word;
  overflow-y: scroll;
}

.desk-show-info-btns {
  display: flex;
  justify-content: space-between;
  height: 150px;
  margin-left: 90px;
  margin-right: 30px;
  button {
    border: 4px solid #ff6700;
    background-color: transparent;
    color: #ff6700;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    &:hover {
      background-color: #ff6700;
      color: white;
    }
  }
}

.desk-show-bottom {
  height: 300px;

  width: 700px;
}

.desk-edit-form {
  position: absolute;
  background: white;
  z-index: 10;
  width: 300px;
  padding: 15px;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.desk-show-edit-column:focus {
  border: 2px solid #ff6700;
  box-shadow: 0px 0px 8px rgba(247, 201, 72, 0.6) !important;
  background-color: #fff;
}

[data-controller="toggle-messages"] {
  position: relative;
  overflow: visible;
}

.messages-main {
  position: absolute;
  top: 30px;
  left: 30px;
  margin-top: 20px;
  margin-left: 20px;
  width: 300px;
  border: 4px solid #ff6700;
  background-color: rgba(255, 255, 255, 1);
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  z-index: 3;
}

.messages-title {
  cursor: pointer;
}

#messages-div {
  max-height: 300px;
  overflow-y: auto; /* Enables vertical scrolling when content overflows */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  border-radius: 5px;
  // border-top: 1px solid rgb(104, 58, 58);
  // border-bottom: 1px solid rgb(104, 58, 58);
}

.message {
  background-color: wheat;
  border: 1px solid rgb(104, 58, 58);
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

.sticky-notes {
  position: absolute;
  top: 160px;
  left: 30px;
  margin-top: 20px;
  margin-left: 20px;
  width: 60%;
  height: 30%;
  background-color: transparent;
  display: inline-block;
  // overflow: hidden; /* Prevent notes from overflowing */
}
.sticky-note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: flex-start;
  background-color: yellow;
  padding: 10px;
  width: 120px;
  height: 160px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  // transition: transform 0.2s ease-in-out;
}

.sticky-note:hover {
  transform: scale(1.05);
}

#sticky-time {
  font-size: 12px;
}

#ai-chat-div {
  position: absolute;
  top: 30px;
  right: 280px;
  margin-top: 20px;
  margin-left: 20px;
  width: 400px;
  height: 500px;
  border: 4px solid #ff6700;
  background-color: rgba(255, 255, 255, 1);
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  z-index: 4;
  overflow-y: auto; /* Enables vertical scrolling when content overflows */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}
