// body {
//   background-color: #f0c539;
// }

.show-desk-bg {
  // margin-top: 100px;
  // width: 800px;
  // height: 770px;
  // background-color: #f0c539;
  position: relative;
}

.desk-img {
  background-image: image-url("desk2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  // width: 200px;
  height: 900px;
  // margin: 0 auto;
}

.calendar {
  position: absolute;
  top: 120px;
  right: 180px;
  margin-top: 20px;
  margin-left: 20px;
  // width: 180px;
  // height: 180px;
  width: 25%;
  height: 25%;
  border: 4px solid black;
  background-color: white;
  display: inline-block;
}

.timer {
  position: absolute;
  top: 40px;
  right: 180px;
  margin-top: 20px;
  margin-left: 20px;
  width: 25%;
  border: 4px solid black;
  background-color: white;
  display: inline-block;
  padding: 10px;
}

.clock {
  position: absolute;
  top: 360px;
  right: 180px;
  margin-top: 20px;
  margin-left: 20px;
  width: 25%;
  border: 4px solid black;
  background-color: white;
  display: inline-block;
  padding: 10px;
}

.messages-main {
  position: absolute;
  top: 10px;
  left: 100px;
  margin-top: 20px;
  margin-left: 20px;
  width: 23%;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  z-index: 3;
}

.messages-title {
  cursor: pointer;
}

[data-toggle-messages-target="messages"] {
  max-height: 300px;
  overflow-y: auto; /* Enables vertical scrolling when content overflows */
  overflow-x: hidden; /* Prevents horizontal scrolling */
  border-top: 1px solid rgb(104, 58, 58);
  border-bottom: 1px solid rgb(104, 58, 58);
}

.message {
  background-color: wheat;
  border: 1px solid rgb(104, 58, 58);
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}

.clickable-div {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(220, 200, 255, 0.6);
  display: inline-block;
}

.clickable-div:hover {
  cursor: pointer;
}

.sticky-notes {
  position: absolute;
  top: 180px;
  left: 100px;
  margin-top: 20px;
  margin-left: 20px;
  width: 70%;
  height: 30%;
  background-color: transparent;
  display: inline-block;
  // overflow: hidden; /* Prevent notes from overflowing */
}

.sticky-note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
  width: 120px;
  height: 160px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  // transition: transform 0.2s ease-in-out;
}

#sticky-time {
  font-size: 12px;
}
