<h1>Chat</h1>
<div id="chatmessages">
  <% @room.chatmessages.each do |chatmessage| %>
    <%= render "chatmessages/chatmessage", chatmessage: chatmessage %>
  <% end %>
</div>
<%= simple_form_for [@room, @chatmessage], html: {class: "d-flex", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f| %>
  <%=
          f.input :content,
          label: false,
          placeholder: "Message from #{current_user.username}",
          wrapper_html: {class: "flex-grow-1"}
        %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
