<div class="tabs-div">
  <!-- Nav Tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#resources">
        Resources
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#kanban">
        Kanban
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#hiveboard">
        Hiveboard
      </button>
    </li>
    <li class="nav-item">
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#settings">
        Settings
      </button>
    </li>
  </ul>
  <!-- Tab Content -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="resources">
      <%= render "shared/resources" %>
    </div>
    <div class="tab-pane fade" id="kanban">
      <%= render "shared/kanban" %>
    </div>
    <div class="tab-pane fade" id="hiveboard">
      <%= render "shared/hiveboard" %>
    </div>
    <div class="tab-pane fade" id="settings">
      <%= render "shared/settings" %>
    </div>
  </div>
</div>
