<div class="container">
  <h1>Applications</h1>
  <% @room.spots.each do |spot|  %>
    <% if spot.status == "pending" %>
      <p>Title: <%= spot.status %>. Desk: <%= spot.user.desk.title %></p>
      <div class="d-flex">
        <%= button_to "Accept", room_path(spot, status: :accepted), class: "btn btn-primary me-2", method: :patch, data:{ turbo_method: :patch} %>
        <%= button_to "Reject", room_path(spot, status: :rejected), class: "btn btn-primary", method: :patch, data:{ turbo_method: :patch} %>
      </div>
    <% end %>
  <% end %>
</div>
