<div class="index-room-bg">
  <div class="d-flex flex-row justify-content-evenly align-items-center">
    <div class="d-flex justify-content-between w-100 m-4">
      <div><%= render "shared/create_hive_button" %></div>
      <div><%= render "shared/searchbar", path: render_search_results_rooms_path, title_name: "Hive Title", user_name: "Hive User" %></div>
    </div>
  </div>
  <div class="container mt-4 hex-container mb-4" style="<%= (@rooms.count / 2.8 * 312) + 104 %> px">
    <%= render "rooms_index_search_results", rooms: @rooms %>
  </div>
</div>
