<div class="container">
  <div class="d-flex mt-2">
    <div class="search-container">
      <input type="text" placeholder="youtube search">
      <button type="button"><i class="fa fa-search"></i></button>
    </div>
    <h1 class="ms-auto"><%= @room.title %></h1>
  </div>

  <div class="row">
    <div class="col-6 border">VIDEO HERE</div>
    <div class="col-6 border">KANBAN HERE</div>
  </div>

  <div class="row">
    <div class="col-8 border">
      DESKS
    </div>
    <div class="ms-auto col-3 border">
      CHAT
    </div>
  </div>
  <%= button_to "Delete", @room, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>

</div>
