
.flash-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  display: flex;
  justify-content: center;
}

.alert {
  margin-top: 0.75rem;
  pointer-events: auto;
  max-width: 90%;
}
