/* 🟡 控制 .index-card 佔據 50% (兩張一排) */
.index-card {
  width: 320px; /* 每張卡片佔據一半寬度 */
  height: 320px;
  overflow: visible;
  background-color: transparent;
  background-size: 90% auto;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  display: flex;
  flex-direction: column;
}

.room-animation-card {
  background-image: url("hex room A alpha.png");
}

.room-animation-card:hover {
  background-image: url("hex room B alpha.gif");
}

[data-controller="hexagon"] {
  position: relative;
}

.hex-container {
  margin-bottom: 200px;
}

.hex-card {
  width: 360px;
  height: 311.76px; /* (sqrt(3)/2) * 120 */
  // background-color: yellow;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  position: absolute;
}
